/**startup css **/

html,body{
    
    height:100%;
    
}
body{
    
    color:;
}

h1,h2,h3,h4,h5{
    color:#333;
}

h6{
    text-transform: uppercase;
    font-weight: bold;
    font-size:0.8rem;
    letter-spacing: 0.1rem;
}

img{
    max-width: 100%;
}
.blockquote{
    font-size: 1.rem;
    color: #333;
    border:none;
    padding:0;
}
.blockquote-footer{
    margin: 1rem 0 0;
}

#stage{
    background: url('img/sparking.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px black;
    height:100%;
    width: 100%;
    display:flex;
    align-items: center;
    
}
#stage-caption{
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}
#stage-caption h1{
    color: white;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:2px 2px rgba(0,0,0,0.8);
}
#feature-two .feature-content{
    padding:0;
}
#feature-six {
    padding:0;
}

#main-footer{
    background-color: #262f36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}
#main-footer h6{
    color:#718fa9;
}
#main-footer a{
    color:#6c6f73;
}


.feature-content{
    padding: 4rem 1rem;
}

.feature-dark{
    background-color: #262f36;
    color: white;
}
.feature-dark h2{
    color: white;
}

.feature-content{
       margin-bottom: -4rem;
       
    }
#head-what{
    padding: 2rem 2rem;
    background-color: rgba(0,0,0,0.2);
}



/** media content**/


@media screen and (min-width:991px){
    
    .feature-content{
        display:flex;
        align-items: center;
    }
}



.feature-alt{
    background-color: #f0f0f0;
}






